<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <!-- //stylesheet -->
    <link rel="stylesheet" href="style.css" />
    <link rel="icon" href="images/icon.svg" />

    <title>GD</title>
  </head>
  <body>


    <!-- Navbar -->


    <div id="navbar" class="navbar">
      <div class="top_nav">
        <a href="#Main"><i class="fas fa-ellipsis-h"></i></a>
        <a href="#About"><i class="fas fa-address-card"></i></a>
        <a href="#Project"><i class="fas fa-tasks"></i></a>
        <a href="#Contact"><i class="fas fa-id-badge"></i></a>
      </div>
      <div class="bottom_nav">
        <a href="https://www.linkedin.com/in/gaurav-dhyani-a426331b4/"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/gdhyani"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="https://drive.google.com/u/0/uc?id=1q5Clb2_pvX0XEwBE7z-_nK56eJ_OXHcD&export=download"><i class="far fa-file"></i></a>
      </div>
    </div>
